header {
  margin-top: 120px;
  margin-left: 20px;
  height: 400px;
  /* width: 100%; */
  background-color: #9c9ce4;
  padding-top: 2em;
  padding-right:50px;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.png");
  font-family:'Source Sans Pro',sans-serif;
}
